html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: black;
  height: 100%;
  margin: auto;
}
